<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css" />
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <title>Products</title>
</head>

<body>
    <!-- start navbar  -->
    <div th:replace="~{admin/layout/navbar :: navbar}"></div>

    <!-- end navbar   -->

    <!-- start wrapper  -->
    <div class="h-screen flex flex-row flex-nowrap">
        <div th:replace="~{admin/layout/sidebar :: sidebar}">...</div>


        <div class="flex-1">
            <!-- start table  -->
            <div class=" bg-slate-100 flex-1 mt-[6rem] md:mt-0 " style="max-height: 40rem;">
                <div class="p-1.5 min-w-full inline-block align-middle">
                    <div class="inline-block float-right m-2 font-bold ">
                        <button class="btn">
                            <a class="inline-block w-full h-full" href="/admin/product/create">Create product</a>
                        </button>
                    </div>
                    <div class="">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead>
                                <tr>
                                    <th scope="col" class="px-6 py-3 text-start  font-bold text-gray-500 uppercase">
                                        ID
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-start  font-bold text-gray-500 uppercase">
                                         Name
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-start  font-bold text-gray-500 uppercase">
                                        Factory
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-start  font-bold text-gray-500 uppercase">
                                        Target
                                    </th>
                                    
                                    <th scope="col" class="px-6 py-3 text-start  font-bold text-gray-500 uppercase">
                                        Price
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-end  font-bold text-gray-500 uppercase">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200">

                                <tr th:if="${products.empty}">
                                    <td class="text-lg" colspan="2"> No products Available </td>
                                </tr>
                                <tr th:each="product : ${products}">
                                    <td class="px-6 py-4 whitespace-nowrap  font-medium text-gray-800"
                                        th:text="${product.id}">
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap  text-gray-800" th:text="${product.name}">
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap  text-gray-800" th:text="${product.factor}">
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap  text-gray-800" th:text="${product.target}">
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap  text-gray-800"  th:text="${#numbers.formatCurrency(product.price)}">
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap text-end  font-medium">
                                        <button type="button"
                                            class=" cursor-pointer p-2 inline-flex items-center gap-x-2  font-semibold rounded-lg border border-transparent  focus:outline-hidden disabled:opacity-50 bg-green-500 text-white">

                                        <a th:href="@{'/admin/product/update/' + ${product.id}}">Update</a>
                                        </button>
                                        <button type="button"
                                            class=" cursor-pointer  p-2 inline-flex items-center gap-x-2  font-semibold rounded-lg border border-transparent  focus:outline-hidden disabled:opacity-50 bg-yellow-500 text-white">
                                            <a th:href="@{'/admin/product/' + ${product.id}}">Detail</a>
                                        </button>
                                        <button type="button"
                                            class=" cursor-pointer p-2 inline-flex items-center gap-x-2  font-semibold rounded-lg border border-transparent  focus:outline-hidden disabled:opacity-50 bg-red-500 text-white">
                                            <a th:href="@{'/admin/product/delete/' + ${product.id}}">Delete</a>
                                        </button>
                                    </td>
                                </tr>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end table  -->


            
            <!-- start pagination -->
        
            <!-- start pagination -->
            <nav class="mt-4 text-center" aria-label="Page navigation example">
                <ul class="inline-flex -space-x-px text-base h-10">

                    <!-- Previous Button -->
                    <li>
                        <a th:href="@{/admin/product(pages=${currentPage - 1})}" th:class="'flex items-center justify-center px-4 h-10 ms-0 leading-tight border border-e-0 rounded-s-lg ' + 
                          (${currentPage == 1} ? 
                          'text-gray-400 bg-gray-200 pointer-events-none' : 
                          'text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700')">
                            Previous
                        </a>
                    </li>

                    <!-- Page Numbers -->
                     <!-- loop from 1 to totalPages -->
                    <li th:each="i : ${#numbers.sequence(1, totalPages)}"> 
                    <a th:href="@{/admin/product(pages=${i})}" th:class="'flex items-center justify-center px-4 h-10 leading-tight border border-gray-300 ' + 
                         (${currentPage} == ${i} ? 
                         'text-blue-600 bg-blue-50 hover:bg-blue-100 hover:text-blue-700' : 
                         'text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700')">
                            <span th:text="${i}">1</span>
                        </a>
                    </li>

                    <!-- Next Button -->
                    <li>
                        <a th:href="@{/admin/product(pages=${currentPage + 1})}" th:if="${currentPage < totalPages}"
                            th:class="'flex items-center justify-center px-4 h-10 leading-tight border rounded-e-lg text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700'">
                            Next
                        </a>
                        <a th:if="${currentPage >= totalPages}"
                            class="flex items-center justify-center px-4 h-10 leading-tight border rounded-e-lg text-gray-400 bg-gray-200 pointer-events-none">
                            Next
                        </a>
                    </li>

                </ul>
            </nav>


            <!-- end pagination  -->
        </div>



    </div>

    <!-- end wrapper  -->

</body>
<script th:src="@{/js/script.js}"></script>

</html>