<!-- start sidebar -->
<div
    th:fragment="sidebar"
    id="sideBar"
    class="relative flex flex-col flex-wrap bg-white border-r border-gray-300 p-6 flex-none w-64 max-md:-ml-64 max-md:fixed max-md:top-0 max-md:z-30 max-md:h-screen max-md:shadow-xl animated faster"
>
    <!-- sidebar content -->
    <div class="flex flex-col">
        <!-- sidebar toggle -->
        <div class="text-right hidden max-md:block mb-4">
            <button id="sideBarHideBtn">
                <i class="fad fa-times-circle"></i>
            </button>
        </div>
        <!-- end sidebar toggle -->

        <p class="uppercase text-xs text-gray-600 mb-4 tracking-wider">Managerment</p>

        <!-- link -->
        <a href="/admin/user" class="mb-3 capitalize font-medium text-md hover:text-teal-600 transition ease-in-out duration-500">
            <i class="fad fa-user text-xs mr-2"></i>
            Users
        </a>
        <!-- end link -->

        <!-- link -->
        <a href="/admin/product" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
            <i class="fad fa-shopping-cart text-xs mr-2"></i>
            Products
        </a>
        <!-- end link -->

        <!-- link -->
        <a href="./email.html" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
            <i class="fad fa-envelope-open-text text-xs mr-2"></i>
            Orders
        </a>
        <!-- end link -->
    </div>
    <!-- end sidebar content -->
</div>
<!-- end sidbar -->
